<%- include('./partials/head') -%>
<body>
<h1>Update User</h1>
    <div class="userform">
            <form action="/updateUser/<%= id %>" method="post">
                <%- include("./partials/user-form") -%>
              </form>
        </div>
   
 
       
    <script src="javascript/main.js"></script>

</body>
</html>